In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../dados/github_repos_completos.csv')
df.head()

,name,owner,stars,forks,language,created_at,updated_at,size_kb,watchers_count,open_issues,owner_type,owner_public_repos,owner_location,subscribers_count,last_year_commits,contributors,closed_issues,pull_requests
0,public-apis,public-apis,337982,35685,Python,2016-03-20T23:49:42Z,2025-04-28T01:10:29Z,5030,337982,452,Organization,1,NaN,30,5,1,30,30
1,system-design-primer,donnemartin,297377,49424,Python,2017-02-26T16:15:28Z,2025-04-28T01:01:03Z,11220,297377,489,User,27,"Washington, D.C.",30,3,1,14,30
2,awesome-python,vinta,241676,25593,Python,2014-06-27T21:00:06Z,2025-04-28T01:08:03Z,6769,241676,473,User,20,Taiwan,30,3,1,23,30
3,Python,TheAlgorithms,199952,46665,Python,2016-07-16T09:44:01Z,2025-04-28T01:08:49Z,15239,199952,371,Organization,44,India,30,178,1,30,30
4,AutoGPT,Significant-Gravitas,174836,45629,Python,2023-03-16T09:21:07Z,2025-04-28T00:50:10Z,241531,174836,207,Organization,21,NaN,30,1392,1,30,30

In [5]:
df.isnull().sum()

name                     0
owner                    0
stars                    0
forks                    0
language                 0
created_at               0
updated_at               0
size_kb                  0
watchers_count           0
open_issues              0
owner_type               0
owner_public_repos       0
owner_location        2043
subscribers_count        0
last_year_commits        0
contributors             0
closed_issues            0
pull_requests            0
dtype: int64

In [10]:
df['owner_location'] = df['owner_location'].fillna('Desconhecido')
df.isnull().sum()

name                  0
owner                 0
stars                 0
forks                 0
language              0
created_at            0
updated_at            0
size_kb               0
watchers_count        0
open_issues           0
owner_type            0
owner_public_repos    0
owner_location        0
subscribers_count     0
last_year_commits     0
contributors          0
closed_issues         0
pull_requests         0
dtype: int64

In [11]:
df[df.duplicated()]

,name,owner,stars,forks,language,created_at,updated_at,size_kb,watchers_count,open_issues,owner_type,owner_public_repos,owner_location,subscribers_count,last_year_commits,contributors,closed_issues,pull_requests
1530,linux,torvalds,192409,55651,C,2011-09-04T22:48:12Z,2025-04-28T03:15:29Z,5554882,192409,460,User,8,"Portland, OR",30,74136,0,30,30
1531,scrcpy,Genymobile,121206,11419,C,2017-11-21T18:00:27Z,2025-04-28T01:53:50Z,7486,121206,2358,Organization,51,"Paris, Lyon, San Francisco",30,389,1,30,30
1533,redis,redis,68848,23982,C,2009-03-21T22:32:25Z,2025-04-28T03:12:06Z,200201,68848,2597,Organization,48,Desconhecido,30,444,1,30,30
1534,Ventoy,ventoy,66282,4237,C,2020-03-10T15:19:19Z,2025-04-28T01:57:24Z,213812,66282,935,User,22,China,30,57,1,30,30
1535,obs-studio,obsproject,63783,8367,C,2013-10-01T02:40:31Z,2025-04-28T03:08:13Z,75787,63783,903,Organization,20,Desconhecido,30,748,1,30,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1675,darknet,pjreddie,26137,21316,C,2014-04-11T07:59:16Z,2025-04-27T12:13:06Z,6526,26137,1980,User,47,Desconhecido,30,0,1,5,30
1676,WindTerm,kingToolbox,26129,2013,C,2019-10-09T19:56:09Z,2025-04-28T03:15:56Z,18742,26129,2053,User,4,Desconhecido,30,2,1,30,6
1677,raylib,raysan5,26050,2486,C,2013-10-24T15:46:04Z,2025-04-28T02:26:21Z,400621,26050,37,User,29,Barcelona,30,825,1,30,30
1678,yabai,koekeishiya,25581,663,C,2019-05-04T15:00:50Z,2025-04-28T01:36:01Z,7735,25581,198,User,6,"Stavanger, Norway",30,85,1,30,30
1679,libuv,libuv,25174,3684,C,2013-11-30T00:29:56Z,2025-04-28T02:24:03Z,16734,25174,182,Organization,10,Desconhecido,30,182,1,30,30

In [12]:
df = df.drop_duplicates()
df[df.duplicated()]

Empty DataFrame
Columns: [name, owner, stars, forks, language, created_at, updated_at, size_kb, watchers_count, open_issues, owner_type, owner_public_repos, owner_location, subscribers_count, last_year_commits, contributors, closed_issues, pull_requests]
Index: []

In [15]:
colunas_numericas = [
    'stars', 'forks', 'size_kb', 'watchers_count', 'open_issues',
    'owner_public_repos', 'subscribers_count', 'last_year_commits',
    'contributors', 'closed_issues', 'pull_requests'
]
for coluna in colunas_numericas:
    if coluna in df.columns:
        df = df[df[coluna] >= 0]